{# Monetag #}
<script src="https://alwingulla.com/88/tag.min.js" data-zone="113010" async data-cfasync="false"></script>
{# adsterra #}
<script type='text/javascript' src='//pl24960469.profitablecpmrate.com/c7/02/8a/c7028adef67e9965c5685858e0d62878.js'></script>
<script type='text/javascript' src='//pl24971109.profitablecpmrate.com/3c/8f/1c/3c8f1cbce386c5711f9528feb2645cb5.js'></script>
<script async="async" data-cfasync="false" src="//pl24971154.profitablecpmrate.com/ebf6406200b40ffad6f7de33e59200fa/invoke.js"></script>
{# HillTopAds #}
<meta name="63ec643176f632d24cd6609532964536cc93d329" content="63ec643176f632d24cd6609532964536cc93d329"/>
{# Evadav #}
<script async="async" src="https://curoax.com/na/waWQiOjExOTAzNTEsInNpZCI6MTM5MzI5Nywid2lkIjo2NTgyNjEsInNyYyI6Mn0=eyJ.js"></script>
<script async="async" src="https://jyzkut.com/p/waWQiOjExOTAzNTEsInNpZCI6MTM5MzI5Nywid2lkIjo2NTgyNjYsInNyYyI6Mn0=eyJ.js"></script>
{# popcash ou popads #}
<meta name="ppck-ver" content="3fb35122c33d8e92d7ef0245993e7a87"/>